* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1250px) {
  #slide .content-footer {
    max-width: 50%;
  }
  #slide .content-footer .price {
    font-size: 36px;
    color: #d51243;
    font-weight: 600;
  }
  #slide .content-wrapper {
    width: 61%;
    left: 18%;
    top: 20%;
  }
  #slide .content-wrapper h3 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.7px;
    margin-bottom: 8px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 1250px) {
  #slide .content-footer {
    max-width: 50%;
  }
  #slide .content-footer .price {
    font-size: 36px;
    color: #d51243;
    font-weight: 600;
  }
  #slide .content-wrapper {
    width: 80%;
    left: 6%;
    top: 4%;
  }
  #slide .content-wrapper h3 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.7px;
    margin-bottom: 8px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  .header #header-main .img2 {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header #header-top {
    display: none;
  }
  .header #header-main .location {
    display: none;
  }
  .header #header-main .img1 {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  #elementor-area .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #elementor-area .wrapper .first {
    display: flex;
    align-items: center;
    max-width: 20%;
    text-align: center;
  }
  #elementor-area .wrapper .categories-wrapper .category {
    display: flex;
    align-items: center;
    width: 25%;
    padding: 20px;
    text-align: inherit;
    border: 1px solid #e4e5ee;
  }
  #elementor-area .wrapper .categories-wrapper .category .category-image img {
    max-width: 70px;
    margin-right: 15px;
  }
  .site-footer {
    margin-top: 115px;
  }
  .site-footer #footer-iconboxes {
    padding: 35px 0;
  }
  .site-footer #footer-iconboxes .col {
    border-right: 1px solid #e4e5ee;
  }
  .site-footer #footer-subscribe .subscribe-content {
    padding: 70px 0;
  }
  .site-footer #footer-subscribe .subscribe-image {
    justify-content: end;
    align-items: end;
  }
  .site-footer #footer-subscribe .subscribe-input {
    height: 62px;
  }
  .site-footer #footer-widgets .border-enable {
    padding: 100px 15px;
  }
  .site-footer #footer-bottom .site-grid-end {
    display: flex;
    justify-content: end;
  }
  .site-footer #footer-contacts .site-social {
    justify-content: start;
  }
  .site-footer #footer-contacts .site-mobile-app {
    justify-content: end;
  }
  #products .wrapper-form {
    display: flex;
  }
  #products .wrapper-form .this-week {
    max-width: 35%;
    padding: 20px;
    margin-right: 30px;
  }
  #products .wrapper-form .all-this-week {
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
  }
  #products .wrapper-form .all-this-week .product {
    width: 33.33%;
    padding: 20px;
    border: 1px solid #e4e5ee;
  }
  #products .wrapper-form .all-this-week .product .product-image img {
    width: 100%;
  }
  #post .post-img img {
    width: 100%;
  }
  #about h2 {
    padding-left: 60px;
  }
  #about p {
    padding-left: 60px;
  }
  #author .author-information {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #author .author-information .author-img {
    padding-right: 15px;
    width: 50%;
  }
  #author .author-information .author-about {
    padding-left: 15px;
    width: 50%;
  }
  #author .author-information .author-about span {
    padding-left: 40px;
  }
  #author .author-information .author-about h3 {
    padding-left: 40px;
  }
  #author .author-information .author-about p {
    padding-left: 40px;
  }
  #author .author-text {
    margin-top: -130px;
    position: relative;
  }
  #author .author-text p {
    background-color: white;
    padding: 60px 15px 60px 100px;
    margin-left: 100px;
  }
  #main-header .wrapper {
    padding: 260px 0;
  }
  #main-header .wrapper h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 991px) {
  #slide .content-footer {
    max-width: 50%;
  }
  #slide .content-footer .price {
    font-size: 36px;
    color: #d51243;
    font-weight: 600;
  }
  #slide .content-wrapper {
    width: 90%;
  }
  #slide .content-wrapper h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.7px;
  }
  .site-footer {
    margin-top: 40px;
  }
  .site-footer #footer-iconboxes {
    padding: 20px 0;
  }
  .site-footer #footer-subscribe .subscribe-content {
    padding: 40px 0;
  }
  .site-footer #footer-subscribe .subscribe-image {
    justify-content: center;
  }
  .site-footer #footer-subscribe .subscribe-input {
    height: 48px;
  }
  .site-footer #footer-widgets .border-enable {
    padding: 40px 15px;
  }
  .site-footer #footer-bottom .site-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 0 15px;
  }
  .site-footer #footer-contacts .site-social {
    justify-content: center;
  }
  .site-footer #footer-contacts .site-mobile-app {
    justify-content: center;
  }
  #post .post-img img {
    max-width: 100%;
  }
  #author .author-img {
    margin-bottom: 25px;
  }
  #author .author-text {
    margin-top: 45px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  #elementor-area .wrapper {
    display: flex;
    text-align: center;
  }
  #elementor-area .wrapper .first {
    border: 1px solid #e4e5ee;
    width: 50%;
  }
  #elementor-area .wrapper .first .category {
    padding: 20px;
  }
  #elementor-area .wrapper .categories-wrapper {
    width: 50%;
  }
  #elementor-area .wrapper .categories-wrapper .category {
    border: 1px solid #e4e5ee;
    width: 50%;
    padding: 12px;
  }
  #elementor-area .wrapper .categories-wrapper .category .category-image {
    max-width: 100%;
  }
  #elementor-area .wrapper .categories-wrapper .category .category-image img {
    max-width: 100%;
  }
  #products .wrapper-form {
    display: flex;
  }
  #products .wrapper-form .this-week {
    max-width: 35%;
    padding: 20px;
    margin-right: 30px;
  }
  #products .wrapper-form .all-this-week {
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
  }
  #products .wrapper-form .all-this-week .product {
    width: 50%;
    padding: 20px;
    border: 1px solid #e4e5ee;
  }
  #products .wrapper-form .all-this-week .product .product-image img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #discount-weekend .discount-wrapper .banner-content {
    max-width: 70%;
    padding: 30px 40px;
    position: absolute;
  }
  #carousel .carousel-image {
    padding: 20px;
  }
  #carousel .carousel-content {
    padding: 0 20px 20px;
  }
  .header #header-main {
    padding: 30px 0;
  }
  #discount .discount-img img {
    min-height: 250px;
  }
}
@media screen and (max-width: 767px) and (min-width: 326px) {
  #discount .discount-img img {
    height: 200px;
  }
}
@media screen and (max-width: 325px) {
  #discount .discount-img img {
    min-height: 240px;
  }
}
@media screen and (max-width: 767px) {
  #elementor-area .wrapper {
    text-align: center;
    padding: 0px;
  }
  #elementor-area .wrapper .first .category {
    max-width: 100%;
    padding: 20px;
    border: 1px solid #e4e5ee;
  }
  #elementor-area .wrapper .categories-wrapper {
    max-width: 100%;
  }
  #elementor-area .wrapper .categories-wrapper .category {
    width: 50%;
    padding: 12px;
    border: 1px solid #e4e5ee;
  }
  #elementor-area .wrapper .categories-wrapper .category .category-image {
    max-width: 100%;
  }
  #elementor-area .wrapper .categories-wrapper .category .category-image img {
    max-width: 100%;
  }
  #products .this-week {
    max-width: 100%;
    padding: 15px;
    margin-bottom: 45px;
  }
  #products .all-this-week {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #products .all-this-week .product {
    max-width: 50%;
    border: 1px solid #e4e5ee;
    padding: 15px;
  }
  #products .all-this-week .product img {
    max-width: 100%;
  }
  #carousel .carousel-image {
    padding: 15px;
  }
  #carousel .carousel-content {
    padding: 0 15px 15px;
  }
  #slide .image-wrapper img {
    height: 300px;
  }
  #slide .content-footer {
    max-width: 50%;
  }
  #slide .content-footer .price {
    font-size: 36px;
    color: #d51243;
    font-weight: 600;
  }
  #slide .content-wrapper h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.7px;
  }
  #discount-weekend .discount-wrapper .banner-content {
    position: absolute;
    padding: 20px;
    max-width: 85%;
  }
  #header-main {
    padding: 10px 0;
  }
  #header-main .header-search {
    display: none;
  }
  #header-main .profil-icon {
    display: none;
  }
}
@media screen and (max-width: 553px) {
  #slide .image-wrapper img {
    height: 300px;
  }
  #slide .content-wrapper h3 {
    font-size: 14px;
    font-weight: 500;
  }
  #slide .content-wrapper .content-footer .price {
    font-size: 20px;
    color: #d51243;
    font-weight: 700;
  }
}
.fades {
  animation-name: fades;
  animation-duration: 0.25s;
}

@keyframes fades {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.active {
  display: block !important;
}

.sidebar {
  display: none;
  background-color: white;
  z-index: 5;
  position: fixed;
  width: 350px;
  height: 100%;
}
.sidebar .custom-sidebar {
  height: 100%;
}
.sidebar .custom-sidebar .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px;
}
.sidebar .custom-sidebar .sidebar-header .logo-img img {
  width: 127px;
}
.sidebar .custom-sidebar .sidebar-header .close-sidebar {
  font-size: 20px;
}
.sidebar .custom-sidebar .sidebar-main .site-location {
  padding: 20px 20px 10px;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location {
  border: 1px solid #d9d9e9;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location a {
  text-decoration: none;
  min-height: 60px;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location a span {
  font-size: 10px;
  opacity: 0.5;
  color: #3e445a;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location a .current-location {
  font-size: 14px;
  font-weight: 600;
  color: #233a95;
  padding-right: 20px;
}
.sidebar .custom-sidebar .sidebar-main .site-location .location i {
  font-size: 12px;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  background-color: #2bbef9;
  border-radius: 7px;
  margin: 10px 20px 15px;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .active {
  display: block !important;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu {
  display: none;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu ul li a {
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 20px;
  font-size: 14px;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu ul li a i {
  font-size: 18px;
  margin-right: 15px;
  opacity: 0.7;
  color: #2bbef9;
}
.sidebar .custom-sidebar .sidebar-main .all-categories .categories-menu ul .li-menu {
  border-top: 1px solid #d9d9e9;
  padding-top: 18px;
  margin-top: 18px;
}
.sidebar .custom-sidebar .sidebar-main .canvas-title {
  padding: 20px 20px 0;
  font-size: 13px;
  opacity: 0.3;
  font-weight: 500;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 {
  margin: 20px 0;
  border-bottom: 1px solid #d9d9e9;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 ul li {
  border-top: 1px solid #d9d9e9;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 ul li a {
  text-decoration: none;
  width: 100%;
  color: #3e445a;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
}
.sidebar .custom-sidebar .sidebar-main .menu-1 ul li a i {
  font-size: 18px;
  margin-right: 15px;
  opacity: 0.7;
  color: #2bbef9;
}
.sidebar .custom-sidebar .sidebar-main .site-copyright {
  padding: 20px;
  opacity: 0.5;
  color: #9b9bb4;
  font-size: 12px;
  border-bottom: 1px solid #d9d9e9;
}
.sidebar .custom-sidebar .sidebar-main .language ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .custom-sidebar .sidebar-main .language ul li {
  border-top: 1px solid #d9d9e9;
}
.sidebar .custom-sidebar .sidebar-main .language ul li a {
  text-decoration: none;
  width: 100%;
  color: #3e445a;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
}

#store-notice {
  position: relative;
  color: #fff;
  background-color: #233a95;
}
#store-notice .container div {
  font-size: 12px;
  text-align: center;
  padding: 9px 15px;
}

.header #header-top .container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header #header-top .container-flex .container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form {
  padding: 0 12px;
  width: 100%;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper {
  display: flex;
  font-size: 12px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-left ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-left ul .li-main {
  margin-left: 15px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-left ul a {
  color: currentColor;
  text-decoration: none;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right {
  margin-left: 178px;
  padding: 0 20px;
  display: flex;
  height: 40px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .topbar-notice {
  padding-left: 18px;
  margin-left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .topbar-notice i {
  font-size: 20px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .topbar-notice span {
  margin-left: 5px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .text-content {
  padding-left: 18px;
  margin-left: 18px;
  display: flex;
  align-items: center;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .text-content a {
  text-decoration: none;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers {
  padding-left: 18px;
  margin-left: 18px;
  display: flex;
  align-items: center;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-left a {
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-left a i {
  margin-left: 4px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-right {
  margin-left: 14px;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-right a {
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}
.header #header-top .container-flex .container-wrapper .wrapper-form .wrapper .column-right .switchers div ul .li-right a i {
  margin-left: 4px;
}
.header #header-main .container {
  max-width: 1200px;
}
.header #header-main .container .row .menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 24px;
}
.header #header-main .container .row .left {
  height: 100%;
  display: flex;
  align-items: center;
}
.header #header-main .container .row .left .img-logo {
  width: 163px;
}
.header #header-main .container .row .left .img-logo .img1 {
  width: 100%;
}
.header #header-main .container .row .left .img-logo .img2 {
  width: 93px;
}
.header #header-main .container .row .left .img-logo span {
  display: block;
  width: 100%;
  font-size: 11px;
  margin-top: 2px;
  opacity: 0.5;
}
.header #header-main .container .row .center {
  display: flex;
  align-items: center;
  height: 100%;
}
.header #header-main .container .row .center .location .location-flex {
  padding: 0 18px;
  display: flex;
  align-items: center;
  border: 1px solid #d9d9e9;
  margin-right: 38px;
  width: 180px;
  border-radius: 7px;
}
.header #header-main .container .row .center .location .location-flex a {
  text-decoration: none;
  min-height: 60px;
}
.header #header-main .container .row .center .location .location-flex a span {
  font-size: 10px;
  opacity: 0.5;
  color: #3e445a;
}
.header #header-main .container .row .center .location .location-flex a .current-location {
  font-size: 14px;
  font-weight: 600;
  color: #233a95;
  padding-right: 20px;
}
.header #header-main .container .row .center .location .location-flex i {
  font-size: 12px;
}
.header #header-main .container .row .center .header-search {
  width: 100%;
  position: relative;
}
.header #header-main .container .row .center .header-search .header-form {
  width: 100%;
}
.header #header-main .container .row .center .header-search .header-form .header-input {
  padding: 0 60px 0 30px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  color: #202435;
  background-color: #f3f4f7;
  font-size: 15px;
  width: 100%;
}
.header #header-main .container .row .center .header-search .header-form .header-button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 60px;
  height: 100%;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: #f3f4f7;
}
.header #header-main .container .right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header #header-main .container .right .buttons {
  display: flex;
  align-items: center;
}
.header #header-main .container .right .buttons .profil {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 42px;
  height: 42px;
  border: 1px solid #e2e4ec;
  border-radius: 50%;
}
.header #header-main .container .right .buttons .profil i {
  color: #191a20;
}
.header #header-main .container .right .buttons .money {
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
}
.header #header-main .container .right .buttons .shop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 42px;
  height: 42px;
  border: 1px solid #e2e4ec;
  border-radius: 50%;
  background-color: #fff1ee;
}
.header #header-main .container .right .buttons .shop i {
  color: #ea2b0f;
}
.header #header-bottom .container {
  max-width: 1200px;
}
.header #header-bottom .container .row .all-categories {
  position: relative;
  width: 220px;
  padding-bottom: 10px;
}
.header #header-bottom .container .row .all-categories .categories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  background-color: #2bbef9;
  border-radius: 50px;
}
.header #header-bottom .container .row .all-categories .active {
  display: block;
}
.header #header-bottom .container .row .all-categories .categories-menu {
  display: none;
  border: 1px solid #d9d9e9;
  min-height: 270px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}
.header #header-bottom .container .row .all-categories .categories-menu ul {
  list-style: none;
  padding: 24px 0;
  margin: 0;
  min-width: 270px;
}
.header #header-bottom .container .row .all-categories .categories-menu ul li {
  padding: 7px 25px;
  display: flex;
  align-items: center;
  color: #3e445a;
  font-size: 16px;
  font-weight: 500;
}
.header #header-bottom .container .row .all-categories .categories-menu ul li:hover {
  color: #0693e3;
}
.header #header-bottom .container .row .all-categories .categories-menu ul li a i {
  font-size: 18px;
  opacity: 0.8;
  margin-right: 14px;
}
.header #header-bottom .container .row .all-categories .categories-menu ul .li-menu {
  padding-top: 18px;
  margin-top: 18px;
  border-top: 1px solid #d9d9e9;
}
.header #header-bottom .container .row .menu-categories .menu-2 ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header #header-bottom .container .row .menu-categories .menu-2 ul li a {
  color: #3e445a;
  padding: 0 18px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  height: 40px;
}
.header #header-bottom .container .row .menu-categories .menu-2 ul li a:hover {
  color: #0693e3;
}
.header #header-bottom .container .row .menu-categories .menu-2 ul li a i {
  margin-right: 7px;
}

.main #main-header {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main #main-header .container {
  max-width: 1200px;
}
.main #main-header .container .wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main #main-header .container .wrapper h1 {
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
  color: white;
}
.main #main-header .container .wrapper h4 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 8px;
  color: white;
}
.main #information {
  margin-top: 40px;
  padding: 15px 0;
}
.main #information .container {
  max-width: 1200px;
}
.main #information .container .wrapper p {
  font-size: 14px;
  font-weight: 400;
}
.main #about {
  padding: 15px 0;
  margin-bottom: 26px;
}
.main #about .container {
  max-width: 1200px;
}
.main #about .container h2 {
  margin: 0;
  margin-top: 10px;
  font-weight: 600;
}
.main #about .container p {
  margin: 0;
  margin-top: 40px;
}
.main #author .container {
  max-width: 1200px;
}
.main #author .container .wrapper .author-img img {
  max-width: 100%;
}
.main #author .container .wrapper .author-about h3 {
  margin: 40px 0;
}
.main #main-text .container {
  max-width: 1200px;
}
.main #contact-header {
  margin-top: 40px;
  margin-bottom: 10px;
}
.main #contact-header .container {
  max-width: 1200px;
}
.main #contact-header .container .wrapper .contact-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main #contact-header .container .wrapper .contact-title h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}
.main #contact-header .container .wrapper .contact-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main #contact-header .container .wrapper .contact-text p {
  font-size: 14px;
  font-weight: 400;
}
.main #contact-us .container {
  max-width: 1200px;
}
.main #contact-us .container .row .contact {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #f3f3f6;
  border-radius: 8px;
}
.main #contact-us .container .row .contact i {
  font-size: 40px;
  color: #233a95;
  margin-bottom: 20px;
}
.main #contact-us .container .row .contact h5 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}
.main #contact-us .container .row .contact p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 16px;
}
.main #send-us .container {
  max-width: 1200px;
}
.main #send-us .container .wrapper {
  border: 1px solid #edeef5;
  margin-top: 40px;
  padding: 90px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.main #send-us .container .wrapper .form {
  max-width: 760px;
}
.main #send-us .container .wrapper .form .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 56px;
  border-bottom: 1px solid #edeef5;
}
.main #send-us .container .wrapper .form .title h2 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}
.main #send-us .container .wrapper .form .title p {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}
.main #send-us .container .wrapper .form .form-wrapper .form {
  padding: 15px;
  width: 100%;
}
.main #send-us .container .wrapper .form .form-wrapper .form label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.main #send-us .container .wrapper .form .form-wrapper .form input {
  background-color: #f3f4f7;
  padding: 0 15px;
  height: 40px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.main #send-us .container .wrapper .form .form-wrapper .form .message {
  background-color: #f3f4f7;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 15px;
  height: 120px;
}
.main #send-us .container .wrapper .form .form-wrapper .form button {
  height: 45px;
  font-size: 14px;
  padding: 0 20px;
  border: 1px solid transparent;
  background-color: #233a95;
  color: white;
  border-radius: 6px;
}
.main #slide .slideshow-container {
  position: relative;
}
.main #slide .slideshow-container .mySlides {
  display: none;
}
.main #slide .slideshow-container .mySlides .content-wrapper {
  position: absolute;
}
.main #slide .slideshow-container .mySlides .content-wrapper .content-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  max-width: 50%;
}
.main #slide .slideshow-container .mySlides .content-wrapper .content-header .content-description {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main #slide .slideshow-container .mySlides .content-wrapper .content-header .content-discount {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #038e42;
}
.main #slide .slideshow-container .mySlides .content-wrapper .content-main {
  margin-bottom: 15px;
  max-width: 50%;
}
.main #slide .slideshow-container .mySlides .content-wrapper .button {
  border-radius: 30px !important;
  background-color: #2bbef9;
  text-decoration: none;
  padding: 0 20px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
}
.main #slide .slideshow-container .mySlides .content-wrapper .button i {
  padding-top: 4px;
  font-size: 14px;
  font-size: 500;
  margin-left: 10px;
}
.main #slide .slideshow-container .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-size: 18px;
  background-color: white;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  left: 2%;
}
.main #slide .slideshow-container .next {
  right: 2%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-size: 18px;
  background-color: white;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main #elementor-area {
  margin-top: 25px;
  margin-bottom: 10px;
}
.main #elementor-area .container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main #elementor-area .container-flex .container-wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form {
  padding: 12px;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form .wrapper {
  border: 1px solid #edeef5;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form .wrapper .first img {
  max-width: 100%;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form .wrapper .categories-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form .wrapper .category .category-image {
  margin-bottom: 15px;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form .wrapper .category .category-image a {
  text-decoration: none;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form .wrapper .category .category-detail h3 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 8px;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form .wrapper .category .category-detail h3 a {
  color: #202435;
  text-decoration: none;
}
.main #elementor-area .container-flex .container-wrapper .wrapper-form .wrapper .category .category-detail .category-count {
  font-size: 12px;
  font-weight: 300;
  color: #212529;
}
.main #products .container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main #products .container-flex .container-wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main #products .container-flex .container-wrapper .wrapper-form {
  padding: 12px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week {
  position: relative;
  border: 2px solid red;
  border-radius: 6px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product-header h4 {
  color: #233a95;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product-header .date {
  display: flex;
  align-items: center;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product-header .date .dates {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  background-color: #ed174a;
  color: #fff;
  border-radius: 6px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product-header .date span {
  margin: 0 4px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product-header .date-text {
  font-size: 12px;
  margin-top: 10px;
  color: #c2c2d3;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-image {
  margin-top: 20px;
  margin-bottom: 15px;
  position: relative;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-image img {
  width: 100%;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-image .product-badges {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: #ed174a;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .price {
  margin-bottom: 12px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .price span {
  font-size: 24px;
  font-weight: 600;
  color: #d51243;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .price span del {
  font-size: 85%;
  padding-right: 6px;
  color: #c2c3d3;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-title {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-meta {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-meta .product-unit {
  color: #9b9bb4;
  font-size: 12px;
  margin-right: 10px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-meta .in-stock {
  font-weight: 600;
  text-transform: uppercase;
  color: #00b853;
  font-size: 12px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-rating {
  display: flex;
  align-items: center;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-rating .star {
  font-size: 10px;
  color: #ffcd00;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-rating .count-rating {
  margin-left: 8px;
  color: #71778e;
  font-size: 12px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-count .product-pcs {
  text-align: right;
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-count .product-pcs span {
  font-size: 16px;
  color: #233a95;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-count .product-progress {
  width: 100%;
  background-color: #d9e0fa;
  border-radius: 6px;
}
.main #products .container-flex .container-wrapper .wrapper-form .this-week .product .product-content .product-count .product-progress span {
  width: 87%;
  background: -webkit-gradient(linear, left top, right top, from(#d51243), color-stop(50%, #ff6048), to(#ffcd00));
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week {
  position: relative;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product:hover .product-content .add-cart {
  display: block;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-image {
  margin-bottom: 15px;
  position: relative;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-image .product-badges {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top: 18px;
  left: 18px;
  cursor: pointer;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-image .product-badges .onsale {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  width: auto;
  max-height: 24px;
  padding: 5px 12px;
  color: #ffffff;
  background-color: #2bbef9;
  border-radius: 4px;
  text-align: center;
  width: 45px;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-image .product-badges .product-about {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  margin-top: 3px;
  background-color: #e5f8ed;
  color: #038e42;
  text-transform: uppercase;
  max-height: 24px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 15px;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .product-title {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .product-meta {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .product-meta .in-stock {
  font-weight: 600;
  text-transform: uppercase;
  color: #00b853;
  font-size: 12px;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .product-rating {
  display: flex;
  align-items: center;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .product-rating .star {
  font-size: 10px;
  color: #ffcd00;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .product-rating .count-rating {
  margin-left: 8px;
  color: #71778e;
  font-size: 12px;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .price span {
  font-size: 18px;
  font-weight: 600;
  color: #d51243;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .price span del {
  font-size: 85%;
  padding-right: 6px;
  color: #c2c3d3;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .add-cart {
  margin-top: 15px;
  display: none;
}
.main #products .container-flex .container-wrapper .wrapper-form .all-this-week .product .product-content .add-cart a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  font-size: 12px;
  height: 34px;
  background-color: #233a95;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 500;
}
.main #discount-weekend .container {
  max-width: 1200px;
}
.main #discount-weekend .container .wrapper .discount-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.main #discount-weekend .container .wrapper .discount-wrapper .banner-content .content-header {
  margin-bottom: 10px;
}
.main #discount-weekend .container .wrapper .discount-wrapper .banner-content .content-header .discount-text {
  color: #ff6048;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
}
.main #discount-weekend .container .wrapper .discount-wrapper .banner-content .content-main {
  margin-bottom: 20px;
}
.main #discount-weekend .container .wrapper .discount-wrapper .banner-content .content-main .content-title {
  font-size: 24px;
  font-weight: 600;
}
.main #discount-weekend .container .wrapper .discount-wrapper .banner-content .content-main .content-bottom {
  font-size: 12px;
  font-weight: 400;
  color: #3e445a;
}
.main #discount-weekend .container .wrapper .discount-wrapper .banner-content a {
  text-decoration: none;
  font-size: 12px;
  height: 40px;
  border-radius: 28px;
  font-weight: 600;
  color: #ffffff;
  background-color: #233a95;
  padding: 10px 15px;
}
.main #discount-weekend .container .wrapper .discount-wrapper .banner-img {
  width: 100%;
}
.main #discount-weekend .container .wrapper .discount-wrapper .banner-img img {
  height: 250px;
  width: 100%;
  right: 0;
}
.main #carousel .container {
  max-width: 1200px;
}
.main #carousel .container .wrapper-form .carousel-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main #carousel .container .wrapper-form .carousel-text .text h4 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 0;
}
.main #carousel .container .wrapper-form .carousel-text .text .text-main {
  font-size: 12px;
  color: #9b9bb4;
}
.main #carousel .container .wrapper-form .carousel-text .view {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9e9;
  padding: 8px 15px;
  border-radius: 30px;
}
.main #carousel .container .wrapper-form .carousel-text .view a {
  color: #9b9bb4;
  font-size: 12px;
  text-decoration: none;
}
.main #carousel .container .wrapper-form .carousel-text .view a i {
  margin-left: 10px;
}
.main #carousel .container .wrapper-form .carousel-border {
  border: 1px solid #f5edee;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper {
  border: 1px solid #f5edee;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-image {
  position: relative;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-image .product-badges {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top: 18px;
  left: 18px;
  cursor: pointer;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-image .product-badges .onsale {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  width: auto;
  max-height: 24px;
  padding: 5px 12px;
  color: #ffffff;
  background-color: #2bbef9;
  border-radius: 4px;
  text-align: center;
  width: 45px;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-image .product-badges .product-about {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  margin-top: 3px;
  background-color: #e5f8ed;
  color: #038e42;
  text-transform: uppercase;
  max-height: 24px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 15px;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .product-title {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .product-meta {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .product-meta .product-unit {
  color: #9b9bb4;
  font-size: 12px;
  margin-right: 10px;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .product-meta .in-stock {
  font-weight: 600;
  text-transform: uppercase;
  color: #00b853;
  font-size: 12px;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .product-rating {
  display: flex;
  align-items: center;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .product-rating .star {
  font-size: 10px;
  color: #ffcd00;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .product-rating .count-rating {
  margin-left: 8px;
  color: #71778e;
  font-size: 12px;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .price span {
  font-size: 18px;
  font-weight: 600;
  color: #d51243;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .price span del {
  font-size: 85%;
  padding-right: 6px;
  color: #c2c3d3;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .add-cart {
  margin-top: 15px;
}
.main #carousel .container .wrapper-form .carousel-border .item .wrapper .carousel-content .add-cart a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  font-size: 12px;
  height: 34px;
  background-color: #ffcd00;
  border-radius: 15px;
  color: #233a95;
  font-weight: 500;
}
.main #text {
  margin: 10px 0;
}
.main #text .container-flex .container-wrapper {
  max-width: 1200px;
  margin: auto;
}
.main #text .container-flex .container-wrapper .wrapper-form {
  padding: 15px 12px;
}
.main #text .container-flex .container-wrapper .wrapper-form .module-body {
  padding: 20px 15px;
  background-color: #fbeacf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #202435;
  letter-spacing: 4px;
}
.main #discount-products {
  margin-bottom: 30px;
}
.main #discount-products .container {
  max-width: 1200px;
}
.main #discount-products .container .wrapper {
  padding: 0 12px;
}
.main #discount-products .container .wrapper .row .col {
  padding: 0;
}
.main #discount-products .container .wrapper .row .col-6 {
  padding: 0;
}
.main #discount-products .container .wrapper .row .product {
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #edeef5;
}
.main #discount-products .container .wrapper .row .product:hover {
  margin-bottom: 15px;
  position: relative;
}
.main #discount-products .container .wrapper .row .product:hover .product-content {
  position: relative;
}
.main #discount-products .container .wrapper .row .product:hover .product-content .add-cart {
  display: block;
}
.main #discount-products .container .wrapper .row .product .product-image {
  margin-bottom: 15px;
  position: relative;
}
.main #discount-products .container .wrapper .row .product .product-image a img {
  width: 100%;
}
.main #discount-products .container .wrapper .row .product .product-image .product-badges {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.main #discount-products .container .wrapper .row .product .product-image .product-badges .onsale {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  width: auto;
  max-height: 24px;
  padding: 5px 12px;
  color: #ffffff;
  background-color: #2bbef9;
  border-radius: 4px;
  text-align: center;
  width: 45px;
}
.main #discount-products .container .wrapper .row .product .product-content .product-title {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
}
.main #discount-products .container .wrapper .row .product .product-content .product-meta {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.main #discount-products .container .wrapper .row .product .product-content .product-meta .in-stock {
  font-weight: 600;
  text-transform: uppercase;
  color: #00b853;
  font-size: 12px;
}
.main #discount-products .container .wrapper .row .product .product-content .product-rating {
  display: flex;
  align-items: center;
}
.main #discount-products .container .wrapper .row .product .product-content .product-rating .star {
  font-size: 10px;
  color: #ffcd00;
}
.main #discount-products .container .wrapper .row .product .product-content .product-rating .count-rating {
  margin-left: 8px;
  color: #71778e;
  font-size: 12px;
}
.main #discount-products .container .wrapper .row .product .product-content .price span {
  font-size: 18px;
  font-weight: 600;
  color: #d51243;
}
.main #discount-products .container .wrapper .row .product .product-content .price span del {
  font-size: 85%;
  padding-right: 6px;
  color: #c2c3d3;
}
.main #discount-products .container .wrapper .row .product .product-content .add-cart {
  display: none;
  margin-top: 15px;
}
.main #discount-products .container .wrapper .row .product .product-content .add-cart a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  font-size: 12px;
  height: 34px;
  background-color: #233a95;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 500;
}
.main #discount .container {
  max-width: 1200px;
}
.main #discount .container .wrapper .discount-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.main #discount .container .wrapper .discount-wrapper .discount-content {
  padding: 30px;
  position: absolute;
  max-width: 80%;
}
.main #discount .container .wrapper .discount-wrapper .discount-content .content-header {
  margin-bottom: 10px;
}
.main #discount .container .wrapper .discount-wrapper .discount-content .content-header .discount-text {
  color: #00b853;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
}
.main #discount .container .wrapper .discount-wrapper .discount-content .content-main {
  margin-bottom: 20px;
}
.main #discount .container .wrapper .discount-wrapper .discount-content .content-main .content-title {
  font-size: 24px;
  font-weight: 600;
}
.main #discount .container .wrapper .discount-wrapper .discount-content .content-main .content-bottom {
  font-size: 12px;
  font-weight: 400;
  color: #9b9bb4;
}
.main #discount .container .wrapper .discount-wrapper .discount-content a {
  text-decoration: none;
  font-size: 12px;
  border-radius: 28px;
  font-weight: 600;
  color: #ffffff;
  background-color: #c2c2d3;
  padding: 10px 20px;
}
.main #discount .container .wrapper .discount-wrapper .discount-img {
  width: 100%;
}
.main #discount .container .wrapper .discount-wrapper .discount-img img {
  width: 100%;
  border-radius: 8px;
}
.main #post {
  padding: 15px 0;
}
.main #post .container {
  max-width: 1200px;
}
.main #post .container .row .post .post-img {
  margin-bottom: 16px;
}
.main #post .container .row .post .post-wrapper .entry-category {
  margin-bottom: 10px;
}
.main #post .container .row .post .post-wrapper .entry-category a {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #9b9bb4;
  margin-right: 0.75rem;
}
.main #post .container .row .post .post-wrapper h2 {
  color: #202435;
  font-size: 20px;
  font-weight: 600;
}
.main #post .container .row .post .post-wrapper .entry-meta {
  margin-bottom: 10px;
}
.main #post .container .row .post .post-wrapper .entry-meta .span1 {
  color: #71778e;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.main #post .container .row .post .post-wrapper .entry-meta .comments {
  color: #202435;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.main #post .container .row .post .post-wrapper .entry-meta .span3 {
  color: #202435;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.main #post .container .row .post .post-wrapper .entry-meta .span3 .span-icon {
  color: #71778e;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.site-footer #footer-subscribe {
  background-color: #233a95;
  color: #fff;
}
.site-footer #footer-subscribe .container {
  max-width: 1200px;
}
.site-footer #footer-subscribe .container .left-text {
  padding: 0 15px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content h6 {
  margin-bottom: 8px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 16px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .entry-teaser {
  max-width: 300px;
  opacity: 0.5;
  margin-bottom: 30px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .entry-teaser p {
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 16px;
  font-size: 13px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form {
  width: 100%;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form .form-fields {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form .form-fields i {
  position: absolute;
  font-size: 20px;
  color: #c2c2d3;
  left: 20px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form .form-fields .subscribe-input {
  width: 100%;
  background-color: #fff;
  padding-left: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 15px;
}
.site-footer #footer-subscribe .container .left-text .subscribe-content .form-wrapper form .form-fields .submit {
  position: absolute;
  background-color: #233a94;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  padding: 0 20px;
  right: 4px;
  top: 4px;
  bottom: 4px;
}
.site-footer #footer-subscribe .container .img {
  height: 100%;
  padding: 0 15px;
}
.site-footer #footer-subscribe .container .img .subscribe-image {
  display: flex;
  height: 100%;
}
.site-footer #footer-subscribe .container .img .subscribe-image img {
  max-width: 100%;
}
.site-footer #footer-iconboxes {
  background-color: #f7f8fd;
}
.site-footer #footer-iconboxes .container {
  max-width: 1200px;
}
.site-footer #footer-iconboxes .container .wrapper {
  border-bottom: 1px solid #e4e5ee;
}
.site-footer #footer-iconboxes .container .iconbox {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.site-footer #footer-iconboxes .container .iconbox .iconbox-icon {
  margin-right: 15px;
  font-size: 21px;
}
.site-footer #footer-iconboxes .container .iconbox .iconbox-detail span {
  font-size: 14px;
  font-weight: 500;
}
.site-footer #footer-widgets {
  background-color: #f7f8fd;
}
.site-footer #footer-widgets .border-enable {
  border-top: 1px solid #e4e5ee;
}
.site-footer #footer-widgets .container {
  max-width: 1200px;
}
.site-footer #footer-widgets .container .menu {
  padding: 0 15px;
  font-size: 13px;
  margin-bottom: 35px;
}
.site-footer #footer-widgets .container .menu h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 15px;
  line-height: 1.2;
}
.site-footer #footer-widgets .container .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}
.site-footer #footer-widgets .container .menu ul a {
  color: #71778e;
}
.site-footer #footer-contacts {
  padding: 46px 0;
}
.site-footer #footer-contacts .container {
  max-width: 1200px;
}
.site-footer #footer-contacts .container .row .site-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.site-footer #footer-contacts .container .row .site-phone .phone-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e5ee;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 4px;
  font-size: 18px;
  padding: 10px;
}
.site-footer #footer-contacts .container .row .site-phone .phone-detail h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}
.site-footer #footer-contacts .container .row .site-phone .phone-detail span {
  color: #202435;
  font-size: 10px;
  opacity: 0.5;
}
.site-footer #footer-contacts .container .row .site-mobile-app {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.site-footer #footer-contacts .container .row .site-mobile-app .app-content {
  margin-right: 20px;
  text-align: center;
}
.site-footer #footer-contacts .container .row .site-mobile-app .app-content h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.site-footer #footer-contacts .container .row .site-mobile-app .app-content span {
  color: #202435;
  opacity: 0.5;
  font-size: 12px;
}
.site-footer #footer-contacts .container .row .site-mobile-app .app-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.site-footer #footer-contacts .container .row .site-social {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.site-footer #footer-contacts .container .row .site-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer #footer-contacts .container .row .site-social ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e5ee;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.site-footer #footer-bottom .border-enable {
  border-top: 1px solid #e4e5ee;
  padding: 30px 15px;
}
.site-footer #footer-bottom .container {
  max-width: 1200px;
}
.site-footer #footer-bottom .container .row p {
  font-size: 12px;
  margin: 0;
  letter-spacing: 0.1px;
  line-height: 1.5;
  font-size: 400;
  color: #9b9bb4;
}
.site-footer #footer-bottom .container .row .site-menu {
  color: #9b9bb4;
}
.site-footer #footer-bottom .container .row .site-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer #footer-bottom .container .row .site-menu ul li {
  margin-left: 10px;
}
.site-footer #footer-bottom .container .row .site-payments img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */